<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"
    />
    <title>Create Transaction Page</title>
</head>
<body>
    <div class="content">
        <div class="LeftGrid">
            <div class="LGwrapper">
                <a href="" id="Mylk"
                    ><img src= "{{ asset('css/img/mylk.png') }}" alt="Mylk"
                /></a>
        </div>
        <div class="homeGrid">
            <div class="homeGridBox">
                <h1 class="homeGridTitle">
                    Sales
                </h1>
            </div>
            <div class="homeGridBox">
                <h1 class="homeGridTitle">
                    Products
                </h1>

            </div>
            <div class="homeGridBox">
                <h1 class="homeGridTitle">
                    Members
                </h1>

            </div>
            <div class="homeGridBox">
                <h1 class="homeGridTitle">
                    Analytics
                </h1>

            </div>
        </div>
        
    </div>
</body>
</html>