h1, p , h2, a, label, body {
    font-family: Arial, sans-serif;
}

/* General page styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

/* Sidebar styles */
/* Assuming you will add a sidebar element */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #ccc; /* Grey color */
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #ccc;
}

/* Button styles */
button.btn.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
}


body {
    display: flex;
    flex-direction: row;
}

aside {
    background-color: lightgrey;
    width: 200px;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
}

main {
    flex: 1;
    padding: 15px;
}

.img-full-width {
    width: 80%;
}

/* Vertical menu styles */
.vertical-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.vertical-menu a {
  padding: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ccc;
}

.vertical-menu a:hover {
  background-color: #ccc;
  color: white;
}

/* Github icon styles */
.github-icon {
  position: absolute;
  width: 15%;
  bottom: 10px;
  left: 10px;
  /* Add other icon styles here */
}

/* Grid container styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  gap: 20px;
  max-width: 600px; /* Set the maximum width of the grid container */
  margin: 0 auto; /* Center the container */
}
/* Grid item styles */
.grid-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Makes the item a square */
  border-radius: 8px; /* Rounded corners */
  background-color: lightgrey;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  text-decoration: none;
}

.grid-item:hover {
  background-color: #ccc;
}

/* Center the text */
.grid-item > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
